<!DOCTYPE html>
<html>
    <head>
        <title>My shop</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>ATB</h1>
        <div class="action-bar">
            <a class="btn" href="{{ url_for('routes.products') }}">Edit Products</a>
        </div>
        <div class="products">
            {% for product in products%}
            <div class="card">
               <img src="{{ url_for('static', filename='image/' ~ product.name ~ '.png') }}"
                    alt="{{ product.name }}"
                    >

                <h2 class="product-name">{{product.name}}</h2>
                <p class="product-feature">Price: ${{'%.2f'| format(product.prise)}}</p>
            </div>
            {% endfor %}
        </div>
        <script src="{{ url_for('static', filename='modal.js') }}"></script>
</html>