<!DOCTYPE html>
<html>
<head>
    <title>Product form</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="form">
   <h1>{{action}} Product</h1>
   <form method="post">
    <label>Name:
    <input type="text" name="name" value="{{product.name if product else''}}"required>    
    </label><br>
    <label>Prise:
    <input type="number" name="prise" value="{{product.prise if product else'0'}}"required>      
    </label><br>
    <label>is_active:
    <input type="checkbox" name="is_active" value="{{product.is_active if product else 'False'}}">    
    </label><br>    
    <label>stock:
    <input type="number" name="stock" value="{{product.stock if product else'0'}}">    
    </label><br>
    <label>description:
    <input type="text" name="description" value="{{product.description if product else''}}">
    </label></br>
    <label>category:
    <input type="text" name="category" value="{{product.category if product else''}}">    
    </label><br>
    <label>rating:
    <input type="number" name="rating" value="{{product.rating if product else'0'}}" min="0" max="5">    
    </label><br>
    <label>sale:
    <input type="checkbox" name="sale" value="{{product.sale if product else'False'}}">    
    </label><br>
    <button type="submit">{{action}}</button>
   </form>
   <a href="{{ url_for('routes.products') }}">back</a>
   </div>
</body>
</html>