<!DOCTYPE html>
<html>
<head>
    <title>Product form</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
   <h1>{{action}} Product</h1>
   <form method="post">
    <label>Name:
    <input type="text" name="name" value="{{product.name if product else''}}"required>    
    </label><br>
    <label>Prise:
    <input type="number" name="prise" value="{{product.name if product else''}}"required>    
    </label><br>
    <label>created_:
    <input type="text" name="created_" value="{{product.name if product else''}}">    
    </label><br>
    <label>updated_at:
    <input type="text" name="updated_at" value="{{product.name if product else''}}">    
    </label><br>
    <label>stock:
    <input type="text" name="stock" value="{{product.name if product else''}}">    
    </label><br>
    <label>is_active_:
    <input type="text" name="is_active_" value="{{product.name if product else''}}">    
    </label><br>
    <label>category:
    <input type="text" name="category" value="{{product.name if product else''}}">    
    </label><br>
    <label>rating:
    <input type="text" name="rating" value="{{product.name if product else''}}">    
    </label><br>
    <label>sale:
    <input type="text" name="sale" value="{{product.name if product else''}}">    
    </label><br>
    <button type="submit">{{action}}</button>
   </form>
   <a href="{{ url_for('routes.products') }}">Add Product</a>
</body>
</html>